.form{
   width:450;
   height:600;
   background-color:red;
   margin:auto;
   margin-top:57  ;
   background-color: rgba(158, 156, 164, 0.305);
   border-radius:5%;
}


h3{
   font-family: 'Courier New', Courier, monospace;
   font-family: HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
   margin:auto;
   text-decoration:none ;
   text-transform: uppercase;
   font-size: 18px;
   font-weight: 300;
}



.pedros{
   
   width:80% ;
   padding:10px;
   border-radius:4px;
   margin-bottom:20px;
   margin-top:20;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.terminosycondiciones a{
   text-decoration:none;
   font-family: HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
   color: blue;
}

button{
   font-size:21;
   color:green;
   background-color: rgba(158, 156, 164, 0.305);
}



a{
   color: #2968c8;
   text-decoration: none;
   font-family: 'Courier New', Courier, monospace;
   font-family: HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;

}